[submodule "Extern/GLFW"]
	path = Extern/GLFW
	url = https://github.com/babaliaris/glfw.git
[submodule "Extern/GLM"]
	path = Extern/GLM
	url = https://github.com/g-truc/glm.git
[submodule "Extern/GLEW"]
	path = Extern/GLEW
	url = https://github.com/babaliaris/GLEW.git
[submodule "Extern/STB"]
	path = Extern/STB
	url = https://github.com/nothings/stb.git
[submodule "Extern/assimp"]
	path = Extern/assimp
	url = https://github.com/assimp/assimp.git
